<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<div class="col-sm-4">
    <h2>Hello inside category!</h2>

    <form action="category/get" method="get">
        <button type="submit" style="width:150px" class="btn btn-default">Get category</button>
    </form>

    <form action="category/create" method="post">
        <button type="submit" style="width:150px" class="btn btn-default">Create category</button>
    </form>

    <form action="category/update" method="post">
        <button type="submit" style="width:150px" class="btn btn-default">Update category</button>
    </form>

    <form action="category/delete" method="post">
        <button type="submit" style="width:150px" class="btn btn-danger">Delete category</button>
    </form>
</div>

</body>
</html>