<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="col-sm-12" align="center">
    <h2>Hello inside homepage!</h2>
    <h4><a href="signup">Signup</a></h4>
    <h4><a href="register">Register</a></h4>
    <h4><a href="user/list">get all users</a></h4>
    <h4><a href="category/getAll">get all categories</a></h4>
    <h4><a href="category/get/Mountain">get Mountain category</a></h4>
    <h4><a href="category/get/City">get City category</a></h4>
</div>

<!--<ul>
    <li><a href="mailto:testuser1@testdomain.com">testuser1</a></li>
    <li><a href="mailto:testuser2@testdomain.com">testuser2</a></li>
    <li><a href="mailto:testuser3@testdomain.com">testuser3</a></li>
</ul>-->

</body>
</html>