<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div class="col-sm-4">
    <h2>Hello inside user!</h2>

    <form action="product/get" method="get">
        <button type="submit" style="width:120px" class="btn btn-default">Get product</button>
    </form>

    <form action="product/create" method="post">
        <button type="submit" style="width:120px" class="btn btn-default">Create product</button>
    </form>

    <form action="product/update" method="post">
        <button type="submit" style="width:120px" class="btn btn-default">Update product</button>
    </form>

    <form action="product/delete" method="post">
        <button type="submit" style="width:120px" class="btn btn-danger">Delete product</button>
    </form>
</div>

</body>
</html>