<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="col-sm-12" align="center">
    <h2>Registration!</h2>

    <div>
        <div>
            <form action="/user/reg" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" style="width:245px" name="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" style="width:245px" name="surname" placeholder="Surname"
                           required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" style="width:245px" name="email" placeholder="Email"
                           required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" style="width:245px" name="phone" placeholder="Phone"
                           required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" style="width:245px" name="password" placeholder="Password"
                           required>
                </div>
                <div class="btn-group">
                    <button type="submit" style="width:120px" class="btn btn-primary">Create</button>
                </div>
                <a href="/" class="btn btn-danger" role="button">Cancel</a>
            </form>
        </div>
    </div>
</div>


</body>
</html>