

        <div class="container" style="width:300px;">
            <form class="form-signin" action="/user/login" method="post">
                <h2 class="form-signin-heading">Please Sign In</h2>
                    <input id="email" type="text" class="form-control" placeholder="e-mail">
                    <input id="password" type="password" class="form-control" placeholder="Password">
                    <div class="checkbox">
                        <label>
                            <input id="remember-me" value="remember-me" type=checkbox>
                            Remember me
                        </label>
                    </div>
                    <button id="logIn" type="button" class="btn btn-default btn-block">Log In</button>
                    <button id="signUp" type="button" class="btn btn-primary btn-block">Sigh Up!</button>
            </form>
        </div>
