body {
  padding: 0px;
  font: 14px "Lucida Grande", Verdana, Verdana, sans-serif;
  color: white;
  background-color: #303030;
}

a {
  color: #00B7FF;
}

#myCarousel {
  width: 100%;
  margin: auto;
  position: relative;
  top: -20px;
}

#myCarousel img {
  width: 90%;
  height: 550px;
}

#myContainer_1 {
  background-color: #434343;
}



